body {
    background-image: linear-gradient(90deg, turquoise, pink);
}

img {
    max-height: 225px;
    max-width: 20%;
}

.representation {
    max-width: 25%;
    border-radius: 1em;
    margin-bottom: 1em;
}


h3 {
    margin: 0em 1em;
}

p {
    letter-spacing: -1px;
    text-indent: 1em;
    margin-right: 3em;
}
p, section li {
    margin-left: 1em;
}
a {
    text-decoration-line: none;
}
@media screen and (max-width: 426px) {
    p {
        font-size: 16px;
    }
    table {
        font-size: 75%;
    }
}

#icecream-link{
    text-decoration-line: none;
    color: black;
    font-family: cursive;
}
#icecream {
    width: 2em;
    margin-left: 2em;
    margin-top: 1em;
}

nav, section {
    margin: 2em 2em;
    border-radius: 1em;
}
section, footer {
    border: solid rgb(155, 119, 75);
    background-color: rgb(205, 162, 111);
}
footer {
    border-left: none;
    border-right: none;
}

label {
    padding-top: 3em;
}

#formSubmit {
    width: 50%;
    margin-top: 3em;
}

table {
    width: 100%;
    background-color: rgb(205, 162, 111);
    border-radius: 1em;
}
td {
    border: solid rgb(155, 119, 75);
    border-top: 0;
    border-bottom: 0;
    text-align: center;
}
tr :first-child {
    border-left: 0;
}
tr :last-child{
    border-right: 0;
}

footer {
    max-width: 100%;
}
.logo {
    min-width: 2em;
    width: 3em;
    margin: 1em 0.5em;
}

.org {
    width: 20em;
    margin: 1em;
}

.dropdown button {
    padding-bottom: 1em;
    width: 50%;
    margin-bottom: 7.5em;
    border-radius: 5em;
}

