html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: pink;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(155, 119, 75);
    border-radius: 1rem;
}

body {
    background-image: linear-gradient(90deg, turquoise, pink);
}

img {
    max-height: 225px;
    max-width: 20%;
}

.representation {
    max-width: 25%;
    border-radius: 1em;
    margin-bottom: 1em;
    height: 10em;
}


h3 {
    margin: 0em 2em;
}

p {
    letter-spacing: -1px;
    text-indent: 1em;
    margin-right: 3em;
}

p,
section li {
    margin-left: 1em;
}

a {
    text-decoration-line: none;
}

@media screen and (max-width: 426px) {
    p {
        font-size: 16px;
    }

    table {
        font-size: 75%;
    }
}

#icecream-link {
    text-decoration-line: none;
    color: black;
    font-family: cursive;
}

#icecream {
    width: 2em;
    margin-left: 2em;
    margin-top: 1em;
}

nav,
section {
    margin: 2em 2em;
    border-radius: 1em;
}

a.home,
a.contact-me {
    border-radius: 3em;
}

a.home {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

a.about-me,
a.projects,
a.skills-experience {
    border-radius: 0;
}

a.contact-me {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

section,
footer {
    border: solid rgb(155, 119, 75);
    background-color: rgb(205, 162, 111);
}

footer {
    border-left: none;
    border-right: none;
}

footer a {
    color: black !important;
}

footer a:hover {
    color: grey !important;
    cursor: pointer;
}

label {
    padding-top: 3em;
}

.remove-files {
    width: 10%;
    text-align: center;
}

#add-files {
    margin-top: 1em;
}

.fileInput {
    max-width: 50%;
    margin-left: 0.75em;
}

#formSubmit {
    width: 50%;
    margin-top: 3em;
}

table {
    width: 100%;
    background-color: rgb(205, 162, 111);
    border-radius: 1em;
}

td {
    border: solid rgb(155, 119, 75);
    border-top: 0;
    border-bottom: 0;
    text-align: center;
}

tr :first-child {
    border-left: 0;
}

tr :last-child {
    border-right: 0;
}

footer {
    max-width: 100%;
}

.logo {
    min-width: 2em;
    width: 3em;
    margin: 1em 0.5em;
}

.org {
    width: 20em;
    margin: 1em;
}

.dropdown button {
    padding-bottom: 1em;
    width: 50%;
    margin-bottom: 7.5em;
    border-radius: 5em;
}
